<style>
    .frm{
        color: red;
        border: 10px;
    }
</style>

<div class="frm">
    <form action="post">
        <table align="center">
            <i><u><h3>Sign Up</h3></u></i>

            <tr>
                <td>
                    Name :
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>
                    EmailID:
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <br>
            <tr>
                <Td>
                    <button>Submit</button>
                </Td>
            </tr>
        </table>
    </form>
</div>